# Project exclude paths
/venv
*.log
/.github
/tests.py
*.mkv
*.mp4
/__pycache__
*.torrent
/images/__pycache__
/images/screenshots
/temp_upload
rtorrent_on_complete_reupload.sh
config.env
/.idea/
.coverage
/.vscode
bdinfo*.txt
tvmaze.py