# Project exclude paths
/venv/
/upload_script.log
/.github/
/tests.py
/*.mkv
/*.mp4
/__pycache__/
/*.torrent
/images/*
/temp_upload/*
rtorrent_on_complete_reupload.sh
config.env
/.idea/
.coverage
/.vscode