pymediainfo~=5.1.0
python-dotenv~=0.19.2
requests~=2.27.1
ffmpy~=0.3.0
guessit~=3.4.3
rich~=12.0.1
fuzzywuzzy~=0.18.0
pyimgbox~=1.0.5
torf~=3.1.3
python-Levenshtein~=0.12.2
ptpimg_uploader~=0.6
imgurpython~=1.1.7
pytest~=7.1.2
pytest-cov~=3.0.0
pytest-mock~=3.7.0
Werkzeug~=2.1.2
Flask-RESTful~=0.3.9
qbittorrent-api~=2022.2.28
pymongo~=4.0.2
ddtrace~=1.1.3